# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env
.env.*

# MacOS
.DS_Store

# Virtual environments
.venv/
venv/
env/
ENV/

# Logs & cache
*.log
*.sqlite3
*.db
*.sqlite
*.pkl
*.cache/
*.pytest_cache/
*.mypy_cache/

# Output files
*.jsonl
*.csv
*.tsv
*.zip
*.gz

# OS files
Thumbs.db
desktop.ini

